.underhood{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main{
    display: flex;
    width: 100%;
    justify-content: center;
}

.titles{
    display: flex;
    justify-content: space-between;
}

.vis{
    visibility: hidden;
}
