.flex{
    display:flex;
    justify-content: center;
}
.red{
    background:red;
    color:white;
    padding:10px;
}
.green{
    background:green;
    color:white;
    padding:10px;
}
.test{
    display:contents
}
.colorfull{
    background:rgb(206, 206, 206);
    margin:20px;
    padding:20px;
}
.center{
    display:flex;
    justify-content:center;
}