.label {
    font-weight: bold;
    display: block;
  }
  
  .carproperty {
    margin-bottom: 3px;
  }
  
  .imageview {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 2px;   
  }
  
  .book{

    width:150px;
    height:200px;

}
.main{
    text-transform: uppercase;

    letter-spacing: 1px;
    font-family:monospace;
}
.container{
    margin-bottom:10px;
    margin-top:5px;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buy{
    margin-top:10px;
}
.details{
    margin-right:35px;
}
.btn{
 
  background: #222;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  font-family:cursive;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat';
  font-weight: 400;
  text-transform: uppercase;
  min-height: 48px;
  padding: 12px;
}
.btn:hover{
  background: rgb(92, 92, 92);
}

.cartLabel{
  margin-top: 30px;
}